
#title{
  display:block;
  font-family: 'VT323', monospace;
  text-align: center;
  margin: 0;
  font-size: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: rgb(40, 38, 38);
  text-shadow: 6px 8px 4px rgba(151, 150, 146, 0.83);
}



